@import url('./crt.css');
@import url('./effects.css');

:root {
  --bg: #191724;
  --fg: #e0def4;
  --accent: #9ccfd8;
}

@font-face {
  font-family: DepartureMono Nerd Font;
  src: url(/fonts/DepartureMonoNerdFont-Regular.otf);
}

@font-face {
  font-family: DepartureMono Nerd Font Mono;
  src: url(/fonts/DepartureMonoNerdFontMono-Regular.otf);
  font-style: monospace;
}


html {
  padding: 0;
  margin: 0;

  font-family: DepartureMono Nerd Font;
  font-size-adjust: 0.6;

  color: var(--fg);
}

div {
  cursor: url(/default_arrow.cur),
    auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--accent);
}

.subtitle {
  color: var(--fg);
}


.bordered * {
  cursor: url(/default_helpsel.cur), auto;
}

a,
button {
  cursor: url(/default_link.cur),
    auto;
}


li {
  margin: 1em 0;
}

li a {
  color: var(--accent);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

.clickable {
  cursor: pointer;
}

.card .italic {
  font-size: inherit;
}

.scroll-button svg {
  margin: auto;

  fill: var(--fg);
  text-align: center;
}



/* CRT scanlines */
.screen {
  background-image: repeating-radial-gradient(circle at 17% 32%, rgba(0, 0, 0, 1.0), rgba(100, 100, 100, 1.0) 0.00085px);
  animation: back 10s linear infinite;

}

.screen-shadow {
  /* background: rgba(255, 255, 255, 0.04); */
  box-shadow:
    /* bezel */
    0 0 0 2px rgba(255, 255, 255, 0.08),
    0 0 0 2px rgba(0, 0, 0, 0.4),
    /* drop shadow */
    0 8px 24px rgba(0, 0, 0, 0.9),
    0 4px 8px rgba(0, 0, 0, 0.7),
    /* vignette top + bottom */
    inset 0 -24px 32px rgba(0, 0, 0, 0.55),
    inset 0 -24px 40px rgba(0, 0, 0, 0.25),
    inset 0 24px 32px rgba(0, 0, 0, 0.55),
    inset 0 24px 40px rgba(0, 0, 0, 0.25),
    /* vignette sides */
    inset 24px 0 32px rgba(0, 0, 0, 0.45),
    inset -24px 0 32px rgba(0, 0, 0, 0.45);
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.1) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.25) 0px -120px 60px 0px inset,  rgba(0, 0, 0, 0.16) 0px 2px 1px, rgba(0, 0, 0, 0.29) 0px 4px 2px, rgba(0, 0, 0, 0.29) 0px 8px 4px, rgba(0, 0, 0, 0.39) 0px 16px 8px, rgba(0, 0, 0, 0.79) 0px 32px 16px; */
}


.screen-shape {
  overflow: hidden;
  --r: 50%;
  /* between 0% [square] and 50% [squircle] (you can use pixel as well) */

  --_r: clamp(0%, var(--r)/2, 25%);
  --_v: calc(var(--_r)*(1 - sqrt(2)/4));
  --_p: calc(var(--_v) - var(--_r)/2);
  clip-path: shape(from var(--_v) var(--_p),
      curve to 50% 0 with var(--_r) 0,
      curve to calc(100% - var(--_v)) var(--_p) with calc(100% - var(--_r)) 0,
      curve to calc(100% - var(--_p)) var(--_v) with calc(100% - 2*var(--_p)) calc(2*var(--_p)),
      curve to 100% 50% with 100% var(--_r),
      curve to calc(100% - var(--_p)) calc(100% - var(--_v)) with 100% calc(100% - var(--_r)),
      curve to calc(100% - var(--_v)) calc(100% - var(--_p)) with calc(100% - 2*var(--_p)) calc(100% - 2*var(--_p)),
      curve to 50% 100% with calc(100% - var(--_r)) 100%,
      curve to var(--_v) calc(100% - var(--_p)) with var(--_r) 100%,
      curve to var(--_p) calc(100% - var(--_v)) with calc(2*var(--_p)) calc(100% - 2*var(--_p)),
      curve to 0 50% with 0 calc(100% - var(--_r)),
      curve to var(--_p) var(--_v) with 0 var(--_r),
      curve to var(--_v) var(--_p) with calc(2*var(--_p)) calc(2*var(--_p)));
  /* aspect-ratio: 1; */
}

body {
  background-clip: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.content {
  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content.out {
  top: 200vh;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 4em;
}

.card {
  z-index: 100;
  color: var(--fg);
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.card a,
.card svg {
  margin-top: auto;
  margin-bottom: autovar(--accent)
}

.card svg {
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg);
  margin: 1em;

  fill: var(--fg);
  font-size: 4em;
  width: 1em;
  height: 1em;
  text-align: center;
}

.card:hover svg,
.card:focus svg {
  transform: rotateY(0deg);
  fill: var(--accent);
}

.card-logo {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.card-title {
  animation: 10s ease infinite spin-me;
  transition: all 0.5s ease-in-out;
  transform: rotateY(0deg);
  margin: auto;
}

.card:hover .card-title,
.card:focus .card-title {
  animation: none;
  color: var(--accent);
  transform: rotateY(0deg);
}

.card-content {
  transition: all 0.5s ease-in-out;
  margin: 0;

  width: 0;
  height: 0;
  opacity: 0;

  overflow: hidden;
  white-space: nowrap;

  font-size: 1em;
  max-height: 16em;
}

.card:hover .card-content,
.card:focus .card-content {
  width: 26em;
  max-height: 16em;
  height: 100%;
  opacity: 1;
  margin: 2em;
  white-space: wrap;
  overflow: scroll;
}

.card .card-content li a:hover {
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100;
  height: 100;
  padding: 2em;
  display: flex;
  z-index: 10000;

  transition: all 0.5s ease-in-out;
}

.modal-header {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding-bottom: 1em;
}

.modal-title {
  margin-top: auto;
  margin-bottom: auto;
}

.modal-close-button {
  height: 2em;
  max-height: 2em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.modal-close-button svg {
  fill: var(--fg);
}

.modal-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1em;
  margin: auto;
}

.modal.hide {
  top: 100%;
}

.banner {
  display: none;
  position: fixed;
  color: var(--accent);
  top: 0;
  margin: 1em;
  padding: 1em;
  z-index: 100000;
}
