:root {
  --bg: #191724;
  --fg: #e0def4;
  --accent: #9ccfd8;
}

@font-face {
  font-family: Terminus;
  src: url(/fonts/TerminusTTF-4.49.3.ttf);
}

@font-face {
  font-family: Terminus;
  src: url(/fonts/TerminusTTF-Bold-4.49.3.ttf);
  font-weight: bold;
}

@keyframes spring {
  0% {
    transform: scale(1) translateY(0);
  }

  20% {
    transform: scale(1.2, 0.6);
  }

  40% {
    transform: scale(0.8, 1.1);
  }

  80% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes spin-me {
  0% {
    transform: rotateY(0deg);
  }

  70% {
    transform: rotateY(0deg);
  }

  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

html {
  padding: 0;
  margin: 0;

  font-family: Terminus;
  font-size-adjust: 0.6;
}

li {
  margin: 1em 0;
}

li a {
  color: var(--accent);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

.clickable {
  cursor: pointer;
}

.card .italic {
  font-size: inherit;
}


.scroll-button svg {
  margin: auto;

  fill: var(--fg);
  text-align: center;
}

.blurred-bg {
  backdrop-filter: blur(20px);
}

.bordered {
  border-style: solid;
  border-width: 1px;
  /*0.15em;*/
  border-color: var(--accent);
  border-radius: 6px;
  border-spacing: 0;

  background-color: rgba(25, 23, 36, 0.2);
}



body {
  background-clip: border-box;
  background-image: url("./assets/background.webm");
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.content {
  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content.out {
  top: 200vh;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  padding: 4em;
}

.card {
  z-index: 100;
  color: var(--fg);
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.card a,
.card svg {
  margin-top: auto;
  margin-bottom: auto;
}

.card svg {
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg);
  margin: 1em;

  fill: var(--fg);
  font-size: 4em;
  width: 1em;
  height: 1em;
  text-align: center;
}

.card:hover svg,
.card:focus svg {
  transform: rotateY(0deg);
  fill: var(--accent);
}

.card-logo {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.card-title {
  animation: 10s ease infinite spin-me;
  transition: all 0.5s ease-in-out;
  transform: rotateY(0deg);
  color: var(--fg);
  margin: auto;
}

.card:hover .card-title,
.card:focus .card-title {
  animation: none;
  color: var(--accent);
  transform: rotateY(0deg);
}

.card-content {
  transition: all 0.5s ease-in-out;
  margin: 0;

  width: 0;
  height: 0;
  opacity: 0;

  overflow: hidden;
  white-space: nowrap;

  font-size: 1em;
  max-height: 16em;
}

.card:hover .card-content,
.card:focus .card-content {
  width: 26em;
  max-height: 16em;
  height: 100%;
  opacity: 1;
  margin: 2em;
  white-space: wrap;
  overflow: scroll;
}

.card .card-content li a:hover {
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100;
  height: 100;
  padding: 2em;
  display: flex;
  z-index: 10000;

  transition: all 0.5s ease-in-out;
}

.modal-header {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding-bottom: 1em;
}

.modal-title {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--fg);
}

.modal-close-button {
  height: 2em;
  max-height: 2em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.modal-close-button svg {
  fill: var(--fg);
}

.modal-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1em;
  margin: auto;
}

.modal.hide {
  top: 100%;
}

.banner {
  display: none;
  position: fixed;
  color: var(--accent);
  top: 0;
  margin: 1em;
  padding: 1em;
  z-index: 100000;
}
